#information-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#information-form .card:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 5px;
    min-height: 100px;
}

#information-form .card:nth-child(2) {
    margin-left: 0px;
    margin-top: 5px;
}

.information-form-content {
    padding: 15px 2% 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.information-form-content form .container-form {
    padding: 45px 10% 10px;
}

.information-form-content form .container-form .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.information-form-content form .container-form .row input {
    width: 88%;
}

/* .information-form-content form .container-form .row .note {
    display: block;
    padding: 25px 10% 20px;
    text-align: center;
} */

.information-form-content form .container-form .row button[type=submit] {
    padding: 18px 10% 18px;
    width: 100%;
    margin: 25px auto;
    color: #00247B;
    background-color: #F5CE4A;
}

.progress-bar-wrapper {
    width: 100%;
}

.progress-bar {
    height: 14px;
    border-radius: 10px;
    background: #DBEAFF;
}

.progress-active {
    height: 14px;
    border-radius: 10px;
    width: 30px;
    background: #1B46A0;
}

.progress-bar-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #1B46A0;
    display: block;
    margin-top: 10px;
}

.header-image {
    height: 180px;
    overflow: hidden;
    position: relative;
    background: black;
}

.header-image img {
    width: 100%;
    opacity: 0.65;
}

.header-text {
    top: 0;
    position: absolute;
    width: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
}

.header-text>span {
    color: white;
    display: block;
    text-align: center;
    padding: 25px 0;
}

#card-information {
    padding-bottom: 25px;
}

#card-information .image-wrapper {
    margin: -40px auto 30px;
    border-radius: 10px;
    background: #f3f3f3;
    width: 130px;
    height: 60px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

#card-information .image-wrapper img {
    width: 100%;
    height: auto;
}

#card-information > .row {
    display: flex;
    justify-content: start;
    align-items: center;
}

#card-information > .row > .column {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px 15%;
}

.text-big-label {
    font-size: 25px;
    color: #747AB5;
}

.text-big {
    font-size: 24px;
    color: #2151B6;
}

.text-big b {
    font-weight: 800;
    font-size: 42px;
    margin: 0 5px 0 0;
}

.text-desc {
    font-size: 21px;
    color: #2151B6;
    margin-top: -5px;
}

.star-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stars>span {
    width: 26px;
    height: 26px;
    padding: 0 2px;
}

.star {
    background: url('../../assets/images/star.png') center center no-repeat;
}

.star-half {
    background: url('../../assets/images/star-half.png') center center no-repeat;
}

.star-line {
    background: url('../../assets/images/star-line.png') center center no-repeat;
}

.star-label {
    display: block;
    margin: 14px 0 7px 14px;
    font-size: 21px;
}

.stars span:nth-child(1) {
    display: block;
}

.stars span:nth-child(2) {
    display: none;
}

.stars span:nth-child(3) {
    display: none;
}

.stars span:nth-child(4) {
    display: none;
}

.stars span:nth-child(5) {
    display: none;
}

span.icon {
    display: block;
    width: 26px;
    height: 26px;
    padding: 0 10px;
    margin-top: -3px;
}

span.icon-check {
    background: url('../../assets/images/green-check.png') center center no-repeat;
}

span.icon-warning {
    background: url('../../assets/images/orange-warning.png') center center no-repeat;
}


/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {
    #information-form {
        flex-direction: row;
    }

    #information-form .card:nth-child(1) {
        margin-right: 5px;
        margin-bottom: 0px;
        min-height: 100px;
    }

    #information-form .card:nth-child(2) {
        margin-left: 5px;
        margin-top: 0px;
    }

    .information-form-content {
        padding: 40px 5%;
    }

    .information-form-content form .container-form .row input {
        width: 94%;
    }

    /* .information-form-content form .container-form .row .note {
        padding: 25px 20% 20px;
    } */

    .information-form-content form .container-form .row button[type=submit] {
        width: 100%;
    }

    .stars span:nth-child(1) {
        display: block;
    }

    .stars span:nth-child(2) {
        display: block;
    }

    .stars span:nth-child(3) {
        display: block;
    }

    .stars span:nth-child(4) {
        display: block;
    }

    .stars span:nth-child(5) {
        display: block;
    }
}