#action {
    background: #F8FBFF;
    width: 100%;
    min-height: 300px;
    margin-top: -150px;
    padding-bottom: 0px;
    padding-top: 280px;
}

#action .row {
    display: flex;
    flex-direction: column;
}

#action .row .column {
    width: 100%;
}

#action .row .column-right {
    order: 2;
    padding: 0px 0px 0px 0px;
    min-height: 450px;
    background: url('../../assets/images/action.png') center center no-repeat;
    background-size: contain;
}

#action .row .column-left {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 0px 0;
    padding: 0 0px 0 0px;
}

#action .row .column-left h2 {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

#action .row .column-left h1 {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 29px;
    color: #222222;
}

#action .row .column-left p {
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
}

#action .container .buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#action .container .buttons-wrapper button {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    background: #3B3B3B;
    border-radius: 4px;
    border: none;
    margin-top: 0px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

#action .container .buttons-wrapper button:nth-child(2) {
    margin-left: 0px;
}

.icon-store {
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 15px 0 0;
}

.app-store {
    background: url('../../assets/icons/svg/icon-store-app.svg') center center no-repeat;
    background-size: contain;
}

.play-store {
    background: url('../../assets/icons/svg/icon-store-play.svg') center center no-repeat;
    background-size: contain;
}

#action .container .buttons-wrapper button span {
    margin-top: 4px;
}

/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {
    #action {
        padding-top: 80px;
    }

    #action .row {
        flex-direction: row;
    }

    #action .row .column-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 25px 0 0px;
    }

    #action .row .column-right {
        padding: 0px 100px 0px 0px;
        min-height: 800px;
    }

    #action .container .buttons-wrapper {
        justify-content: flex-start;
        flex-direction: row;
    }

    #action .row .column-left {
        margin: 20px 0 80px 0;
        padding: 0 50px 0 150px;
    }

    #action .container .buttons-wrapper button {
        margin-top: 10px;
        width: 180px;
        margin-bottom: 0px;
    }
    
    #action .container .buttons-wrapper button:nth-child(2) {
        margin-left: 10px;
    }
}