/* general mobile */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'Montserrat', Helvetica, sans-serif;
    background-color: #F8FBFF;
}

a {
    color: #000;
}

.color-pink {
    color: #FF6B9B;
}

.color-purple {
    color: #8159BC;
}

.bold {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: block;
}

.card {
    background: white;
    width: 100%;
    min-height: 250px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgba(162, 162, 162, .15);
}

/* end of general mobile */

/* header mobile */

.header {
    background: -webkit-linear-gradient(top, rgba(44, 44, 44, 0.75) 0%, rgba(44, 44, 44, 0.0) 100%);
    background: linear-gradient(to bottom, rgba(44, 44, 44, 0.75) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1); */
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li a.button-header {
    margin: 25px 0 15px;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #2151B6;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .logo>span {
    display: block;
    width: 120px;
    height: 40px;
    background: transparent url('../assets/images/logo-mobile.png') left center no-repeat;
    background-size: contain;
}


.header li>a.button-header,
.header #outher-button-header>a.button {
    width: 100px;
    background: transparent;
    border: solid 1px white;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    text-transform: uppercase;
}

.header #outher-button-header {
    display: none;
}

.header #outher-button-header a.account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header #outher-button-header a.account .photo-profile {
    width: 32px;
    height: 32px;
}

.header #outher-button-header a.account>span {
    padding: 3px 0 0 12px;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 667px;
    padding: 50px 0;
    background: #2151B6;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* end of header mobile */

/* content mobile */

/* PART */

.head-section {
    background: #2151B6;
    width: 100%;
    min-height: 100px;
}

.head-section>.container:nth-child(1),
.content-overlay>.container:nth-child(1) {
    padding: 60px 0 20px;
    display: flex;
    align-items: center;
}

.container.column-1 {
    justify-content: center;
    text-align: center;
}

.container.column-2 {
    justify-content: space-between;
}

.container.column-2>* {
    flex: 1;
}

.action-icon-wrapper {
    width: 200px;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .title-head-section {
    color: white;
    margin: 0;
    font-size: 24px;
}

.head-section .container div>a.icon,
.content-overlay .container div>a.icon {
    width: 40px;
    height: 40px;
    border: solid 1px #4B78D7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.head-section .container div>a.icon>span,
.content-overlay .container div>a.icon>span {
    width: 30px;
    height: 30px;
    display: block;
}

.head-section .container div>a.icon-filter>span,
.content-overlay .container div>a.icon-filter>span {
    background: transparent url('../assets/images/icon-filter.png') center center no-repeat;
}

.head-section .container div>a.icon-notification>span,
.content-overlay .container div>a.icon-notification>span {
    background: transparent url('../assets/images/icon-notification.png') center center no-repeat;
}

.head-section .container div>a.icon-compare>span,
.content-overlay .container div>a.icon-compare>span {
    background: transparent url('../assets/images/icon-compare.png') center center no-repeat;
}

.head-section .container div>.icon-list>span,
.content-overlay .container div>a.icon-list>span {
    background: transparent url('../assets/images/icon-list.png') center center no-repeat;
}

.head-section-overlay {
    min-height: 515px;
    max-height: 515px;
}

.content-overlay {
    margin-top: -500px;
    margin-bottom: 50px;
}

.content-overlay .card {
    overflow: hidden;
}

/* end of content mobile */

/* footer mobile */

.footer {
    height: 1250px;
    background: #0C1831 url('../assets/images/ornament-footer.png') bottom right no-repeat;
    color: #ffffff;
    padding: 7em 0 1em;
}

.footer .container {
    width: 80%;
}

.footer .row {
    margin: 2.8em 0;
}

.footer .row .column:nth-child(1) {
    flex: 2;
}

.footer .row .column:nth-child(2) {
    flex: 1;
}

.footer .row .column:nth-child(3) {
    flex: 2;
}

.footer .row .column:nth-child(4) {
    flex: 1;
}

.footer .row .column:nth-child(5) {
    flex: 1;
}

.footer .row .column:nth-child(6) {
    flex: 1;
}

.footer .row .column:nth-child(6) .list-title {
    text-align: left;
}

.footer .row:nth-child(1) {
    padding-bottom: 70px;
}

.footer .logo>span {
    background: url('../assets/images/main-logo.png') left center no-repeat;
    display: block;
    width: 170px;
    height: 40px;
    background-size: contain;
    margin-bottom: 2.8em;
}

.footer .text-footer {
    font-size: 14px;
    line-height: 21px;
    display: block;
    margin-right: 7%;
    margin-bottom: 100px;
}

.footer .text-right-footer {
    color: #FFFFFF;
    text-align: left;
    display: block;
}

.footer .list-title {
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    padding-bottom: 10px;
}

.footer ul {
    margin: 0 45px 25px 0;
    padding: 0 0 0 0;
}

.footer ul li {
    margin: 0;
    padding: 2px 0;
    list-style: none;
}

.footer ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #AFBEE1;
    text-decoration: none;
    max-width: 100%;
}

/* end of footer mobile */
/* FORM */

form {
    width: 100%;
}

label {
    line-height: 20px;
    margin-bottom: 5px;
    display: block;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #070707;
}

/* Full-width input fields */
input[type=text],
input[type=email],
input[type=password],
textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    width: 90%;
    padding: 13px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #E5EDFD;
    border: 1px solid #A5C2FF;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #747AB5;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: #E5EDFD;
    padding: 14px 20px;
    margin: 8px 0 22px 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border: 1px solid #E5EDFD;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    color: #2151B6;
}

button[type=submit] {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    background-color: #2151B6;
    color: #FFFFFF;
}

button:hover {
    opacity: 1;
}

textarea {
    width: 93%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container-form {
    padding: 0px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {

    /* general */
    .container {
        width: 1200px;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* end of general */

    /* header */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .header .logo>span {
        background: transparent url('../assets/images/main-logo.png') left center no-repeat;
        display: block;
        width: 170px;
        height: 40px;
        background-size: contain;
    }

    .header ul li a.button-header {
        display: none;
    }

    .header>a.button-header {
        margin: 0px 25px 0 0;
        display: block;
    }

    .header #outher-button-header {
        display: block;
        margin-right: 25px;
    }

    .header #outher-button-header a {
        color: white;
        text-decoration: none;
    }

    /* end of header */

    .head-section>.container:nth-child(1),
    .content-overlay>.container:nth-child(1) {
        padding: 110px 0 20px;
    }

    /* footer */
    .footer {
        height: 550px;
    }

    .footer .container {
        width: 90%;
    }

    .footer .flex-right {
        justify-content: flex-end;
    }

    .footer .flex-right span {
        text-align: left;
    }

    .footer .text-footer {
        margin-right: 37%;
        margin-bottom: 0px;
    }

    .footer .row .column:nth-child(6) .list-title {
        text-align: right;
    }

    .footer .text-right-footer {
        text-align: right;
    }

    /* end of footer */

    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
        width: 83%;
    }

}