#affiliate {
    width: 100%;
    margin: 0px auto 120px;
}

#affiliate .container>h2 {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 55px;
}

#affiliate-slider-nav>div {
    height: auto;
}

#affiliate-slider-nav>div .slide-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#affiliate-slider-nav>div .slide-item .image-wrapper {
    width: 100%;
    margin-top: 26px;
}

#affiliate-slider-nav>div .slide-item .image-wrapper img {
    width: auto;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}