#event {
    width: 100%;
    margin: 50px auto 100px;
}

#event .container>h2 {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

#event-slider-nav>div {
    height: auto;
}

#event-slider-nav>div .slide-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#event-slider-nav>div .slide-item .image-wrapper {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 26px;
}

#event-slider-nav>div .slide-item .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

#event-slider-nav>div .slide-item .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px 0 80px;
}

#event-slider-nav>div .slide-item .text-block h2 {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #525252;
}

#event-slider-nav>div .slide-item .text-block h1 {
    font-family: 'Montserrat-Bold', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin: 8px 0;
}

#event-slider-nav>div .slide-item .text-block p {
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
}

#event-slider-nav>div .slide-item .text-block button {
    width: 98%;
}

/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {
    #event-slider-nav>div {
        height: 420px;
    }
    #event-slider-nav>div .slide-item {
        flex-direction: row;
        height: 420px;
    }

    #event-slider-nav>div .slide-item .image-wrapper {
        width: 380px;
        height: 380px;
        box-shadow: 20px 20px 0 #FFB6CE;
        margin-top: 0px;
    }

    #event-slider-nav>div .slide-item .text-block {
        display: block;
        width: 43%;
        padding-left: 7%;
        margin: 110px 0 80px;
    }

    #event-slider-nav>div .slide-item .text-block button {
        width: 50%;
    }
}