#form-section {
    /* background-color: rgba(0, 0, 0, .5); */
    min-height: 900px;
    margin-top: -200px;
}

#form-section .card {
    min-height: 217px;
    margin: 0 auto;
    position: relative;
    z-index: 48;
    width: auto;
}

#form-section .card .card-content {
    padding: 5%;
}

#form-section .card .card-content#form-note {
    padding-bottom: 22%;
}

#form-section .card .card-content p {
    font-size: 14px;
    line-height: 21px;
}

#form-section .circle-bg {
    position: absolute;
    z-index: 47;
    width: 208px;
    height: 208px;
    border-radius: 50%;
    margin: -74px 0 0;
    background: linear-gradient(180deg, #FFEEF4 0%, rgba(255, 240, 246, 0) 100%);
}

#form-section .circle-gradient {
    position: absolute;
    z-index: 49;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -49px 0 0 29px;
    background: linear-gradient(150.69deg, #C7A1FF 16.38%, #FB6497 84.89%);
    box-shadow: 0px 15px 15px rgba(255, 167, 195, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-section .circle-gradient .number {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}

#form-section .circle-gradient .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}

/* blocks */

.form-block {
    width: 100%;
    margin: 0 auto;
}

.form-block>h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat-Bold';
}

.form-block h2 {
    margin-bottom: 45px;
}

#block-form .row:nth-child(2) {
    margin: 25px 0 40px;
}

/* end of blocks */

/* waiting */
.container-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.human-heart {
    margin: 1em 7em 2.5em;
    animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* end of waiting */

/* result */
#block-result>h2 {
    font-family: 'Montserrat';
    font-weight: normal;
}

#form-section .card .card-content p {
    font-size: 14px;
    line-height: 21px;
}

#form-section .card .card-content p.text-result {
    font-size: 16px;
    line-height: 28px;
}

/* end of result */

/* FORM */

label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    display: block;
}

/* Full-width input fields */
input[type=text],
input[type=email],
input[type=password],
textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    width: 83%;
    padding: 13px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #FFFCFD;
    border: 1px solid #FFA0C0;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #A0828A;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border: 1px solid #FEC4D4;
    box-sizing: border-box;
    border-radius: 10px;

    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #FB6497;
}

button[type=submit] {
    font-family: 'Montserrat-Bold', Helvetica, sans-serif;
    background-color: #FB6497;
    color: #FFFFFF;
}

button:hover {
    opacity: 1;
}

textarea {
    width: 93%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container-form {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #F6E7FF;
    margin: 0;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {
    #form-section {
        margin-top: -400px;
    }

    #form-section .card {
        position: absolute;
        margin: 0 auto;
        width: 1000px;
        left: 0;
        right: 0;
    }

    #form-section .card .card-content#form-note {
        padding-bottom: 5%;
    }

    #form-section .circle-bg {
        position: absolute;
        z-index: 47;
        margin: -59px 0 0 50px;
    }

    #form-section .circle-gradient {
        position: absolute;
        z-index: 49;
        margin: -30px 0 0 80px;
    }

    .form-block {
        width: 710px;
    }

    #block-form .row>.column {
        width: 100%;
    }

    #block-form .row:nth-child(1)>.column:nth-child(1) {
        border-right: 1px solid #F6E7FF;
    }

    #block-form .row:nth-child(1)>.column:nth-child(2) {
        padding-left: 26px;
    }

    #block-form .row:nth-child(2) {
        margin: 25px 0;
    }

    #block-form .row:nth-child(2)>.column:nth-child(2) {
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 14px;
        line-height: 17px;
        color: #2B2B2B;
    }

    #block-form .row:nth-child(3) {
        justify-content: flex-start;
    }

    #block-form .row:nth-child(3)>button:nth-child(1) {
        margin-right: 20px;
    }

    /* blocks */

    .form-block {
        width: 90%;
    }

    /* end of blocks */

    /* waiting */
    .human-heart {
        margin: 1em 7em 2em;
    }

    /* end of waiting */

    button {
        width: 35%;
    }
}