.termspolicies-content {
    padding: 0px 10% 50px;
}

.termspolicies-content .title-grey {
    display: block;
    margin: 40px 0 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #737191;
}

.image-wrapper>img {
    width: 100%;
}

.ol>span.list-title {
    margin-left: -1em;
}

/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {
    .termspolicies-content {
        padding: 40px 20% 100px;
    }
}