/* general */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row.flex-right {
    justify-content: flex-end;
}

/* end of general */

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .logo>span {
    display: block;
    width: 40px;
    height: 40px;
    background: #ffffff url('../assets/illustrations/svg/logo-mark-color.svg') left center no-repeat;
    background-size: contain;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 525px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* end of header */

/* content */

#section1 {
    height: 1000px;
    background: #ffffff url('../assets/illustrations/svg/background-hero-section.svg') bottom center no-repeat;
    padding-top: 58px;
}

#section2 {
    height: 600px;
    background-color: yellow;
}

/* end of content */

/* footer */

.footer {
    height: 200px;
    background: #333333 url('../assets/illustrations/svg/footer-ornament.svg') top center no-repeat;
    color: #888888;
    padding: 20em 0 1em;
}

.footer .logo>span {
    background: url('../assets/illustrations/png/logo-grey.png') left center no-repeat;
    display: block;
    width: 170px;
    height: 40px;
    background-size: contain;
}

.footer ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.footer ul li {
    margin: 0 0.25rem;
    padding: 0;
}

.footer ul li a {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 10px;
    background: #888888;
}

.footer ul li a span {
    display: block;
    width: 24px;
    height: 24px;
}

.footer ul li a span#fb {
    background: url('../assets/icons/svg/icon-social-fb.svg') center center no-repeat;
}

.footer ul li a span#ig {
    background: url('../assets/icons/svg/icon-social-ig.svg') center center no-repeat;
}

.footer ul li a span#wa {
    background: url('../assets/icons/svg/icon-social-wa.svg') center center no-repeat;
}

.footer ul li a span#yt {
    background: url('../assets/icons/svg/icon-social-yt.svg') center center no-repeat;
}

/* end of footer */

/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .header .logo>span {
        background: #ffffff url('../assets/illustrations/svg/logo-color.svg') left center no-repeat;
        display: block;
        width: 170px;
        height: 40px;
        background-size: contain;
    }

}