.about-content {
    padding: 15px 10% 50px;
}

.about-content .prologue {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #737191;
}

.image-wrapper>img {
    width: 100%;
}

.ol>span.list-title {
    margin-left: -1em;
}

/* RESPONSIVE */

/* 48em = 768px */

@media (min-width: 48em) {
    .about-content {
        padding: 80px 20% 100px;
    }
}